.elementor-16 .elementor-element.elementor-element-7f7bfd27>.elementor-container {
    min-height: 400px;
}

.elementor-16 .elementor-element.elementor-element-7f7bfd27>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-7f7bfd27:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-7f7bfd27>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/07/shutterstock_1612002154.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-16 .elementor-element.elementor-element-7f7bfd27>.elementor-background-overlay {
    background-color: #2A6E79B3;
    opacity: 0.77;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-7f7bfd27 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-16 .elementor-element.elementor-element-4926858e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-610a4488 {
    text-align: center;
}

.elementor-16 .elementor-element.elementor-element-610a4488 .elementor-heading-title {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.99);
}

.elementor-16 .elementor-element.elementor-element-fddc15c {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-16 .elementor-element.elementor-element-6cc47587>.elementor-container {
    min-height: 415px;
}

.elementor-16 .elementor-element.elementor-element-6cc47587>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-6cc47587>.elementor-background-overlay {
    opacity: 0.55;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-6cc47587 {
    box-shadow: 0px -30px 50px -20px rgba(0, 0, 0, 0.65);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-16 .elementor-element.elementor-element-f90ddf9>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-26736812>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-26736812 {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-658fb398 img {
    width: 410px;
}

.elementor-16 .elementor-element.elementor-element-658fb398>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-37efaa3e .elementor-heading-title {
    font-size: 43px;
}

.elementor-16 .elementor-element.elementor-element-37efaa3e>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-1341b0b4 {
    font-size: 17px;
}

.elementor-16 .elementor-element.elementor-element-2bd454b2 .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-16 .elementor-element.elementor-element-2bd454b2 .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-16 .elementor-element.elementor-element-2bd454b2>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-1483a029>.elementor-container {
    min-height: 415px;
}

.elementor-16 .elementor-element.elementor-element-1483a029>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-1483a029 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-16 .elementor-element.elementor-element-1483a029>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-d220d65>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-2344d99b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-2344d99b {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-505ca7f4 .elementor-heading-title {
    font-size: 43px;
}

.elementor-16 .elementor-element.elementor-element-505ca7f4>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-3a13ce7d {
    font-size: 17px;
}

.elementor-16 .elementor-element.elementor-element-4d807f66 img {
    width: 410px;
}

.elementor-16 .elementor-element.elementor-element-4d807f66>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-9dfbcd1>.elementor-container {
    max-width: 1173px;
}

.elementor-16 .elementor-element.elementor-element-9dfbcd1:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-9dfbcd1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/06/friends-dog-pet-3042751.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-16 .elementor-element.elementor-element-9dfbcd1>.elementor-background-overlay {
    background-color: #0C2356BA;
    opacity: 0.82;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-9dfbcd1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-16 .elementor-element.elementor-element-599da49.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-title {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-description {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-16 .elementor-element.elementor-element-cb08d6d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.uamodal-a1c8d21 .uael-content {
    width: 1000px;
    background-color: #ffffff;
}

.uamodal-a1c8d21 .uael-overlay {
    background: rgba(0, 0, 0, 0.75);
}

.uamodal-a1c8d21 .uael-modal-close {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-a1c8d21 .uael-modal-close i,
.uamodal-a1c8d21 .uael-modal-close svg {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-a1c8d21 .uael-modal-close i {
    color: #000000;
}

.uamodal-a1c8d21 .uael-modal-close svg {
    fill: #000000;
}

.uamodal-a1c8d21 .uael-modal-title-wrap {
    text-align: left;
    padding: 15px 25px 15px 25px;
}

.uamodal-a1c8d21 .uael-content .uael-modal-content-data {
    padding: 25px 25px 25px 25px;
}

.elementor-16 .elementor-element.elementor-element-a1c8d21 {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-425bdb40 {
        width: 38.499%;
    }

    .elementor-16 .elementor-element.elementor-element-32104c1f {
        width: 61.501%;
    }

    .elementor-16 .elementor-element.elementor-element-6fb40da4 {
        width: 57.167%;
    }

    .elementor-16 .elementor-element.elementor-element-6b1cc18d {
        width: 42.793%;
    }
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-7f7bfd27 {
        padding: 100px 40px 80px 40px;
    }

    .elementor-16 .elementor-element.elementor-element-6cc47587 {
        padding: 40px 30px 50px 30px;
    }

    .elementor-16 .elementor-element.elementor-element-425bdb40>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-658fb398 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-658fb398>.elementor-widget-container {
        margin: 0px 50px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-32104c1f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-16 .elementor-element.elementor-element-37efaa3e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-2bd454b2>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-1483a029 {
        padding: 40px 30px 50px 30px;
    }

    .elementor-16 .elementor-element.elementor-element-6fb40da4>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-505ca7f4>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-6b1cc18d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-16 .elementor-element.elementor-element-4d807f66 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-4d807f66>.elementor-widget-container {
        margin: 0px 50px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-9dfbcd1 {
        padding: 50px 50px 0px 50px;
    }

    .elementor-16 .elementor-element.elementor-element-cb08d6d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .uamodal-a1c8d21 .uael-content {
        width: 500px;
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-7f7bfd27 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-16 .elementor-element.elementor-element-7da68559>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-6cc47587 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-16 .elementor-element.elementor-element-658fb398 img {
        width: 200px;
    }

    .elementor-16 .elementor-element.elementor-element-658fb398>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-32104c1f>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-16 .elementor-element.elementor-element-37efaa3e {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-2bd454b2>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-1483a029 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-16 .elementor-element.elementor-element-505ca7f4 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-6b1cc18d>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-16 .elementor-element.elementor-element-4d807f66 img {
        width: 200px;
    }

    .elementor-16 .elementor-element.elementor-element-4d807f66>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-16 .elementor-element.elementor-element-9dfbcd1 {
        padding: 30px 30px 30px 30px;
    }

    .elementor-16 .elementor-element.elementor-element-cb08d6d .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .uamodal-a1c8d21 .uael-content {
        width: 300px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-7da68559 {
        width: 75%;
    }

    .elementor-16 .elementor-element.elementor-element-425bdb40 {
        width: 50%;
    }

    .elementor-16 .elementor-element.elementor-element-32104c1f {
        width: 50%;
    }

    .elementor-16 .elementor-element.elementor-element-6fb40da4 {
        width: 50%;
    }

    .elementor-16 .elementor-element.elementor-element-6b1cc18d {
        width: 50%;
    }
}

@media(min-width:1025px) {

    .elementor-16 .elementor-element.elementor-element-7f7bfd27:not(.elementor-motion-effects-element-type-background),
    .elementor-16 .elementor-element.elementor-element-7f7bfd27>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}