.elementor-596 .elementor-element.elementor-element-6ca4a112>.elementor-container {
    max-width: 824px;
    min-height: 390px;
}

.elementor-596 .elementor-element.elementor-element-6ca4a112>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-6ca4a112:not(.elementor-motion-effects-element-type-background),
.elementor-596 .elementor-element.elementor-element-6ca4a112>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/06/dog-bath.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-596 .elementor-element.elementor-element-6ca4a112>.elementor-background-overlay {
    background-color: #010D0F91;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-596 .elementor-element.elementor-element-6ca4a112 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-596 .elementor-element.elementor-element-272fc567>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-5a3f93c9>.elementor-container {
    text-align: center;
}

.elementor-596 .elementor-element.elementor-element-1302dd47 .elementor-heading-title {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.98);
}

.elementor-596 .elementor-element.elementor-element-56f49043 {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-596 .elementor-element.elementor-element-11402d28 {
    padding: 100px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-596 .elementor-element.elementor-element-74676e7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-74676e7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-74676e7>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-7e488eb0 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-596 .elementor-element.elementor-element-19a3bcbf .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-19a3bcbf .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-19a3bcbf>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-1ea2f51a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-596 .elementor-element.elementor-element-1ea2f51a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D162D;
}

.elementor-596 .elementor-element.elementor-element-1ea2f51a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-596 .elementor-element.elementor-element-1ea2f51a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-596 .elementor-element.elementor-element-7cf50b41 img {
    width: 100%;
    max-width: 100%;
    opacity: 0.9;
    filter: brightness(100%) contrast(100%) saturate(94%) blur(0px) hue-rotate(0deg);
}

.elementor-596 .elementor-element.elementor-element-105ab450 {
    padding: 0px 0px 100px 0px;
}

.elementor-596 .elementor-element.elementor-element-3aa0ba9a img {
    width: 100%;
    max-width: 100%;
}

.elementor-bc-flex-widget .elementor-596 .elementor-element.elementor-element-7b861b82.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-7b861b82.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-7b861b82>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-596 .elementor-element.elementor-element-28002688.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-596 .elementor-element.elementor-element-28002688.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-596 .elementor-element.elementor-element-28002688.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-596 .elementor-element.elementor-element-28002688 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-596 .elementor-element.elementor-element-28002688 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-28002688 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-596 .elementor-element.elementor-element-16553a4b .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-16553a4b .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-16553a4b>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-33f1c40c {
    padding: 0px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-596 .elementor-element.elementor-element-11c7966a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-11c7966a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-11c7966a>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-466e1f73.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-596 .elementor-element.elementor-element-466e1f73.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-596 .elementor-element.elementor-element-466e1f73.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-596 .elementor-element.elementor-element-466e1f73 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-596 .elementor-element.elementor-element-466e1f73 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-466e1f73 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-596 .elementor-element.elementor-element-423d9b15 .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-423d9b15 .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-423d9b15>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-44e3b004 img {
    width: 100%;
    max-width: 100%;
}

.elementor-596 .elementor-element.elementor-element-a45f73c {
    padding: 0px 0px 100px 0px;
}

.elementor-596 .elementor-element.elementor-element-a8ffff3 img {
    width: 100%;
    max-width: 100%;
}

.elementor-bc-flex-widget .elementor-596 .elementor-element.elementor-element-8e143c8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-8e143c8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-8e143c8>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-596 .elementor-element.elementor-element-477a64c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-596 .elementor-element.elementor-element-477a64c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-596 .elementor-element.elementor-element-477a64c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-596 .elementor-element.elementor-element-477a64c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-596 .elementor-element.elementor-element-477a64c .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-477a64c .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-596 .elementor-element.elementor-element-01b232f .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-01b232f .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-01b232f>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-693010d {
    padding: 0px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-596 .elementor-element.elementor-element-64d675c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-64d675c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-596 .elementor-element.elementor-element-64d675c>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-d1527ce.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-596 .elementor-element.elementor-element-d1527ce.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-596 .elementor-element.elementor-element-d1527ce.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-596 .elementor-element.elementor-element-d1527ce .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-596 .elementor-element.elementor-element-d1527ce .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-d1527ce .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-596 .elementor-element.elementor-element-07ad7d0 .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-07ad7d0 .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-07ad7d0>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-8312374 {
    --spacer-size: 65px;
}

.elementor-596 .elementor-element.elementor-element-6a439ae img {
    width: 100%;
    max-width: 100%;
}

.elementor-596 .elementor-element.elementor-element-20fe7b76>.elementor-container {
    min-height: 320px;
}

.elementor-596 .elementor-element.elementor-element-20fe7b76:not(.elementor-motion-effects-element-type-background),
.elementor-596 .elementor-element.elementor-element-20fe7b76>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/fetch-stick-puppy-4957501.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-596 .elementor-element.elementor-element-20fe7b76>.elementor-background-overlay {
    background-color: var(--e-global-color-astglobalcolor2);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-596 .elementor-element.elementor-element-20fe7b76 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 17px 50px 15px;
}

.elementor-596 .elementor-element.elementor-element-2ba3aa73>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 12px;
}

.elementor-596 .elementor-element.elementor-element-833e98b {
    text-align: center;
}

.elementor-596 .elementor-element.elementor-element-833e98b .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-596 .elementor-element.elementor-element-73c23596 {
    text-align: center;
    color: var(--e-global-color-astglobalcolor4);
}

.elementor-596 .elementor-element.elementor-element-73c23596>.elementor-widget-container {
    padding: 0px 100px 0px 0100px;
}

.elementor-596 .elementor-element.elementor-element-4d7f2e62 .elementor-button:hover,
.elementor-596 .elementor-element.elementor-element-4d7f2e62 .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-596 .elementor-element.elementor-element-4d7f2e62>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-596 .elementor-element.elementor-element-5e222dc6 {
        width: 75%;
    }
}

@media(max-width:1024px) {
    .elementor-596 .elementor-element.elementor-element-6ca4a112 {
        padding: 100px 40px 80px 40px;
    }

    .elementor-596 .elementor-element.elementor-element-11402d28 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-74676e7>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-7cf50b41 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-105ab450 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-3aa0ba9a img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-7b861b82>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-33f1c40c {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-11c7966a>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-44e3b004 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-a45f73c {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-a8ffff3 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-8e143c8>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-693010d {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-64d675c>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-6a439ae img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-20fe7b76>.elementor-container {
        min-height: 200px;
    }

    .elementor-596 .elementor-element.elementor-element-20fe7b76 {
        padding: 80px 40px 80px 40px;
    }

    .elementor-596 .elementor-element.elementor-element-73c23596>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-596 .elementor-element.elementor-element-6ca4a112 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-596 .elementor-element.elementor-element-5e222dc6>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-74676e7>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-7e488eb0 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-596 .elementor-element.elementor-element-1ea2f51a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-6150969b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-7b861b82>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-28002688 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-596 .elementor-element.elementor-element-11c7966a>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-466e1f73 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-596 .elementor-element.elementor-element-52c02019>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-2f89fd2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-8e143c8>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-477a64c .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-596 .elementor-element.elementor-element-64d675c>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-d1527ce .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-596 .elementor-element.elementor-element-ee95206>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-20fe7b76 {
        padding: 64px 24px 64px 24px;
    }
}

@media(min-width:1025px) {

    .elementor-596 .elementor-element.elementor-element-6ca4a112:not(.elementor-motion-effects-element-type-background),
    .elementor-596 .elementor-element.elementor-element-6ca4a112>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}