.elementor-268 .elementor-element.elementor-element-1e70f52>.elementor-container {
    min-height: 484px;
}

.elementor-268 .elementor-element.elementor-element-1e70f52>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-1e70f52:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-1e70f52>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: url("../../2021/06/Media-Library-%E2%80%B9-Lucky-Paws-Pet-Grooming-%E2%80%94-WordPress-2-1.png.webp") 50% 50%;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-1e70f52>.elementor-background-overlay {
    background-color: rgba(41, 37, 36, 0.75);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-1e70f52 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-268 .elementor-element.elementor-element-b598e34>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-7ba3742 .elementor-heading-title {
    color: #ffffff;
}

.elementor-268 .elementor-element.elementor-element-2845f28 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-268 .elementor-element.elementor-element-2845f28>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-268 .elementor-element.elementor-element-aa0653f .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-268 .elementor-element.elementor-element-903b0ea>.elementor-widget-container {
    padding: 0px 30px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-903b0ea {
    width: auto;
    max-width: auto;
}

.uamodal-16c81ca .uael-content {
    width: 1000px;
    background-color: #ffffff;
}

.uamodal-16c81ca .uael-overlay {
    background: rgba(0, 0, 0, 0.75);
}

.uamodal-16c81ca .uael-modal-close {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-16c81ca .uael-modal-close i,
.uamodal-16c81ca .uael-modal-close svg {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-16c81ca .uael-modal-close i {
    color: #000000;
}

.uamodal-16c81ca .uael-modal-close svg {
    fill: #000000;
}

.uamodal-16c81ca .uael-modal-title-wrap {
    text-align: left;
    padding: 15px 25px 15px 25px;
}

.uamodal-16c81ca .uael-content .uael-modal-content-data {
    padding: 25px 25px 25px 25px;
}

.elementor-268 .elementor-element.elementor-element-16c81ca {
    width: auto;
    max-width: auto;
}

.elementor-268 .elementor-element.elementor-element-21cf7a7.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-268 .elementor-element.elementor-element-66f601b {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-66f601b .elementor-heading-title {
    color: #ffffff;
}

.elementor-268 .elementor-element.elementor-element-c28ba30 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-268 .elementor-element.elementor-element-c28ba30>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-268 .elementor-element.elementor-element-071fe57 {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-071fe57 .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #000000;
}

.uamodal-680ae10 .uael-content {
    width: 1000px;
    background-color: #ffffff;
}

.uamodal-680ae10 .uael-overlay {
    background: rgba(0, 0, 0, 0.75);
}

.uamodal-680ae10 .uael-modal-close {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-680ae10 .uael-modal-close i,
.uamodal-680ae10 .uael-modal-close svg {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.uamodal-680ae10 .uael-modal-close i {
    color: #000000;
}

.uamodal-680ae10 .uael-modal-close svg {
    fill: #000000;
}

.uamodal-680ae10 .uael-modal-title-wrap {
    text-align: left;
    padding: 15px 25px 15px 25px;
}

.uamodal-680ae10 .uael-content .uael-modal-content-data {
    padding: 25px 25px 25px 25px;
}

.elementor-268 .elementor-element.elementor-element-680ae10 {
    width: auto;
    max-width: auto;
}

.elementor-268 .elementor-element.elementor-element-841ca34>.elementor-container {
    min-height: 415px;
}

.elementor-268 .elementor-element.elementor-element-841ca34>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-841ca34:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-841ca34>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-841ca34 {
    box-shadow: 0px -30px 50px -20px rgba(0, 0, 0, 0.65);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-841ca34>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-f002cd5>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-88758bf>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-88758bf {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-feffd57 img {
    width: 410px;
}

.elementor-268 .elementor-element.elementor-element-feffd57>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-df0c1a8>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-2557d13 {
    font-size: 16px;
}

.elementor-268 .elementor-element.elementor-element-d8ccd10 .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-d8ccd10 .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-268 .elementor-element.elementor-element-d8ccd10>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-3e1dd54>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-268 .elementor-element.elementor-element-3e1dd54:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-3e1dd54>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #90CFD98C;
}

.elementor-268 .elementor-element.elementor-element-3e1dd54>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.45;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-3e1dd54 .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-268 .elementor-element.elementor-element-3e1dd54,
.elementor-268 .elementor-element.elementor-element-3e1dd54>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-3e1dd54 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-76bdd6a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-268 .elementor-element.elementor-element-76bdd6a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-b4c93eb {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-a7c81dc {
    text-align: center;
    font-size: 20px;
}

.elementor-268 .elementor-element.elementor-element-a7c81dc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-7c30800 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 1px 0px;
}

.elementor-268 .elementor-element.elementor-element-8c5b080>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-8c5b080>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-5ec5435 {
    text-align: left;
}

.elementor-268 .elementor-element.elementor-element-5ec5435 img {
    opacity: 1;
}

.elementor-268 .elementor-element.elementor-element-5ec5435>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-3e4acdd>.elementor-widget-container {
    margin: -75px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-aa835f2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-aa835f2>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-b88d182 {
    text-align: left;
}

.elementor-268 .elementor-element.elementor-element-b88d182 img {
    opacity: 1;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-cb8e7bb>.elementor-widget-container {
    margin: -75px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-19f7743>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-19f7743>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-54b7710 {
    text-align: left;
}

.elementor-268 .elementor-element.elementor-element-54b7710 img {
    opacity: 1;
}

.elementor-268 .elementor-element.elementor-element-296e8cc.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-296e8cc.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-296e8cc.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-296e8cc .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-296e8cc .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-296e8cc .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-296e8cc>.elementor-widget-container {
    margin: -75px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-d8a6a74>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-d8a6a74>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-ddf78ca {
    text-align: left;
}

.elementor-268 .elementor-element.elementor-element-ddf78ca img {
    opacity: 0.55;
}

.elementor-268 .elementor-element.elementor-element-f94f7df.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-f94f7df.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-f94f7df.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-f94f7df .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-f94f7df .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-f94f7df .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-f94f7df>.elementor-widget-container {
    margin: -75px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-04e69c2>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-268 .elementor-element.elementor-element-5547bce>.elementor-container {
    min-height: 415px;
}

.elementor-268 .elementor-element.elementor-element-5547bce>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-5547bce:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-5547bce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-5547bce {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-5547bce>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-640a0fd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-a2f17b7>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-a2f17b7 {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-8e62fe0>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-0ea6a3c .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-0ea6a3c .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-268 .elementor-element.elementor-element-0ea6a3c>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-77cc80b img {
    width: 410px;
}

.elementor-268 .elementor-element.elementor-element-77cc80b>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-g46vjz3>.elementor-container {
    max-width: 1100px;
}

.elementor-268 .elementor-element.elementor-element-g46vjz3>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-268 .elementor-element.elementor-element-g46vjz3:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-g46vjz3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-g46vjz3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 055px 0px 100px 0px;
}

.elementor-268 .elementor-element.elementor-element-g46vjz3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-2e3c768>.elementor-container {
    max-width: 500px;
}

.elementor-268 .elementor-element.elementor-element-552ba76 {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-b02d6fd {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-fbed5e8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/cat-kitten-pet-551554.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated>.elementor-background-overlay {
    background-color: #022A60D6;
    opacity: 0.75;
}

.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-background-slideshow {
    border-radius: 6px 6px 6px 6px;
}

.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    text-align: left;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 150px 50px 50px 50px;
}

.elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-285514c.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    fill: #424242;
    color: #424242;
}

.elementor-268 .elementor-element.elementor-element-285514c.elementor-view-framed .elementor-icon,
.elementor-268 .elementor-element.elementor-element-285514c.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-285514c.elementor-view-framed .elementor-icon {
    background-color: #424242;
}

.elementor-268 .elementor-element.elementor-element-285514c {
    --icon-box-icon-margin: 30px;
}

.elementor-268 .elementor-element.elementor-element-285514c .elementor-icon {
    font-size: 24px;
    padding: 20px;
}

.elementor-268 .elementor-element.elementor-element-285514c .elementor-icon-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-285514c .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-285514c .elementor-icon-box-description {
    color: #F5F5F5;
}

.elementor-268 .elementor-element.elementor-element-854262a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-854262a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/bulldog-dog-puppy-alpha.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated>.elementor-background-overlay {
    background-color: #0F335BE0;
    opacity: 0.75;
}

.elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-854262a>.elementor-background-slideshow {
    border-radius: 6px 6px 6px 6px;
}

.elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    text-align: left;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 150px 50px 50px 50px;
}

.elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-58bb9de.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    fill: #424242;
    color: #424242;
}

.elementor-268 .elementor-element.elementor-element-58bb9de.elementor-view-framed .elementor-icon,
.elementor-268 .elementor-element.elementor-element-58bb9de.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-58bb9de.elementor-view-framed .elementor-icon {
    background-color: #424242;
}

.elementor-268 .elementor-element.elementor-element-58bb9de {
    --icon-box-icon-margin: 30px;
}

.elementor-268 .elementor-element.elementor-element-58bb9de .elementor-icon {
    font-size: 24px;
    padding: 20px;
}

.elementor-268 .elementor-element.elementor-element-58bb9de .elementor-icon-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-58bb9de .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-58bb9de .elementor-icon-box-description {
    color: #F5F5F5;
}

.elementor-268 .elementor-element.elementor-element-572bf51:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/Lucky-Paws-Pet-Grooming-Google-Maps.png.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated>.elementor-background-overlay {
    background-color: #0F335BE0;
    opacity: 0.75;
}

.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-background-slideshow {
    border-radius: 6px 6px 6px 6px;
}

.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    text-align: left;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 150px 50px 50px 50px;
}

.elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-660580d.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    fill: #424242;
    color: #424242;
}

.elementor-268 .elementor-element.elementor-element-660580d.elementor-view-framed .elementor-icon,
.elementor-268 .elementor-element.elementor-element-660580d.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-660580d.elementor-view-framed .elementor-icon {
    background-color: #424242;
}

.elementor-268 .elementor-element.elementor-element-660580d {
    --icon-box-icon-margin: 30px;
}

.elementor-268 .elementor-element.elementor-element-660580d .elementor-icon {
    font-size: 24px;
    padding: 20px;
}

.elementor-268 .elementor-element.elementor-element-660580d .elementor-icon-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-660580d .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-660580d .elementor-icon-box-description {
    color: #F5F5F5;
}

.elementor-268 .elementor-element.elementor-element-1589e7e>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-268 .elementor-element.elementor-element-40104efe>.elementor-container {
    min-height: 320px;
}

.elementor-268 .elementor-element.elementor-element-40104efe:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-40104efe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/fetch-stick-puppy-4957501.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-40104efe>.elementor-background-overlay {
    background-color: #0F3E63EB;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-40104efe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 17px 30px 15px;
}

.elementor-268 .elementor-element.elementor-element-279d736>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 12px;
}

.elementor-268 .elementor-element.elementor-element-ef493fe {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-ef493fe .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-6dbc9e6b {
    text-align: center;
    color: var(--e-global-color-astglobalcolor4);
}

.elementor-268 .elementor-element.elementor-element-6dbc9e6b>.elementor-widget-container {
    padding: 0px 100px 0px 0100px;
}

.elementor-268 .elementor-element.elementor-element-335df0fe .elementor-button:hover,
.elementor-268 .elementor-element.elementor-element-335df0fe .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-268 .elementor-element.elementor-element-335df0fe>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-77f304e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-268 .elementor-element.elementor-element-77f304e>.elementor-background-overlay {
    opacity: 0.45;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-77f304e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-5669a86>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-a1ea1de.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-268 .elementor-element.elementor-element-1e816dd {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-7b782ae.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-7b782ae.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-268 .elementor-element.elementor-element-7b782ae.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-268 .elementor-element.elementor-element-7b782ae .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-268 .elementor-element.elementor-element-7b782ae .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-7b782ae .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-ee4b9f5 {
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-375dfec:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f8;
    background-image: url("../../2019/07/quotes-free-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.8;
}

.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated {
    box-shadow: 0px 10px 40px -10px rgba(84, 89, 95, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 40px 40px 40px 40px;
}

.elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-6939626.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-268 .elementor-element.elementor-element-6939626.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-268 .elementor-element.elementor-element-6939626.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-268 .elementor-element.elementor-element-6939626 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}

.elementor-268 .elementor-element.elementor-element-6939626 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-6939626 .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-6939626>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-9d6734f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f8;
    background-image: url("../../2019/07/quotes-free-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.8;
}

.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated {
    box-shadow: 0px 10px 40px -10px rgba(84, 89, 95, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 40px 40px 40px 40px;
}

.elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-7efd012.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-268 .elementor-element.elementor-element-7efd012.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-268 .elementor-element.elementor-element-7efd012.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-268 .elementor-element.elementor-element-7efd012 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}

.elementor-268 .elementor-element.elementor-element-7efd012 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-7efd012 .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-7efd012>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-94e1410:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f8;
    background-image: url("../../2019/07/quotes-free-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.8;
}

.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated,
.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated>.elementor-background-overlay,
.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated {
    box-shadow: 0px 10px 40px -10px rgba(84, 89, 95, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 40px 40px 40px 40px;
}

.elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-758d869.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-268 .elementor-element.elementor-element-758d869.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-268 .elementor-element.elementor-element-758d869.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-268 .elementor-element.elementor-element-758d869 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}

.elementor-268 .elementor-element.elementor-element-758d869 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-758d869 .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-758d869>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-456e8cf>.elementor-container {
    max-width: 700px;
}

.elementor-268 .elementor-element.elementor-element-456e8cf:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-456e8cf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/06/dog-bath.jpg.webp");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-268 .elementor-element.elementor-element-456e8cf>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-456e8cf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-74c3acf.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-74c3acf.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-74c3acf.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-title {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-description {
    color: #FFFFFF;
    font-size: 21px;
}

.elementor-268 .elementor-element.elementor-element-74c3acf>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-f034df9 .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-f034df9 .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-268 .elementor-element.elementor-element-f034df9>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-15d9ddc>.elementor-container {
    max-width: 700px;
}

.elementor-268 .elementor-element.elementor-element-15d9ddc:not(.elementor-motion-effects-element-type-background),
.elementor-268 .elementor-element.elementor-element-15d9ddc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9E7E0;
}

.elementor-268 .elementor-element.elementor-element-15d9ddc>.elementor-background-overlay {
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-15d9ddc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-268 .elementor-element.elementor-element-47cd506.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-47cd506.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-268 .elementor-element.elementor-element-47cd506.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 0%;
}

.elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-title {
    margin-bottom: 30px;
}

.elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-description {
    color: #524C26;
    font-size: 21px;
}

.elementor-268 .elementor-element.elementor-element-47cd506>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-002f642 .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-268 .elementor-element.elementor-element-002f642 .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-268 .elementor-element.elementor-element-002f642>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-268 .elementor-element.elementor-element-1e70f52 {
        padding: 100px 40px 80px 40px;
    }

    .uamodal-16c81ca .uael-content {
        width: 500px;
    }

    .elementor-268 .elementor-element.elementor-element-60725f8>.elementor-widget-container {
        padding: 0px 15px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-60725f8 {
        width: auto;
        max-width: auto;
    }

    .uamodal-680ae10 .uael-content {
        width: 500px;
    }

    .elementor-268 .elementor-element.elementor-element-841ca34 {
        padding: 40px 30px 50px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-bcd92b8>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-feffd57 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-feffd57>.elementor-widget-container {
        margin: 0px 50px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-4ef95b5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-df0c1a8>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-d8ccd10>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-3e1dd54 {
        padding: 40px 40px 40px 40px;
    }

    .elementor-268 .elementor-element.elementor-element-7c30800 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-5ec5435 img {
        width: 100px;
    }

    .elementor-268 .elementor-element.elementor-element-3e4acdd>.elementor-widget-container {
        margin: -60px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-b88d182 img {
        width: 100px;
    }

    .elementor-268 .elementor-element.elementor-element-cb8e7bb>.elementor-widget-container {
        margin: -60px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-54b7710 img {
        width: 100px;
    }

    .elementor-268 .elementor-element.elementor-element-296e8cc>.elementor-widget-container {
        margin: -60px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-ddf78ca img {
        width: 100px;
    }

    .elementor-268 .elementor-element.elementor-element-f94f7df>.elementor-widget-container {
        margin: -60px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-5547bce {
        padding: 40px 30px 50px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-58cf9fd>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-8e62fe0>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-0ea6a3c>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-cf305ae>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-77cc80b {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-77cc80b>.elementor-widget-container {
        margin: 0px 50px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-g46vjz3 {
        padding: 80px 80px 80px 80px;
    }

    .elementor-268 .elementor-element.elementor-element-552ba76 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-fbed5e8>.elementor-element-populated {
        padding: 130px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-285514c {
        --icon-box-icon-margin: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-285514c .elementor-icon {
        font-size: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-285514c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-854262a>.elementor-element-populated {
        padding: 130px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-58bb9de {
        --icon-box-icon-margin: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-58bb9de .elementor-icon {
        font-size: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-58bb9de>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated {
        margin: 3% -49% 0% 51%;
        --e-column-margin-right: -49%;
        --e-column-margin-left: 51%;
        padding: 130px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-660580d {
        --icon-box-icon-margin: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-660580d .elementor-icon {
        font-size: 25px;
    }

    .elementor-268 .elementor-element.elementor-element-660580d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-40104efe>.elementor-container {
        min-height: 200px;
    }

    .elementor-268 .elementor-element.elementor-element-40104efe {
        padding: 80px 40px 80px 40px;
    }

    .elementor-268 .elementor-element.elementor-element-6dbc9e6b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-77f304e {
        padding: 40px 40px 40px 40px;
    }

    .elementor-268 .elementor-element.elementor-element-5669a86>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-1e816dd {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-7b782ae .elementor-image-box-wrapper {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-ee4b9f5 {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated {
        margin: 03% -50% 0% 50%;
        --e-column-margin-right: -50%;
        --e-column-margin-left: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-456e8cf {
        padding: 50px 50px 50px 50px;
    }

    .elementor-268 .elementor-element.elementor-element-74c3acf>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-f034df9>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-15d9ddc {
        padding: 50px 50px 50px 50px;
    }

    .elementor-268 .elementor-element.elementor-element-47cd506>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-002f642>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-268 .elementor-element.elementor-element-1e70f52 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-947c385>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .uamodal-16c81ca .uael-content {
        width: 300px;
    }

    .elementor-268 .elementor-element.elementor-element-21cf7a7>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .uamodal-680ae10 .uael-content {
        width: 300px;
    }

    .elementor-268 .elementor-element.elementor-element-841ca34 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-268 .elementor-element.elementor-element-feffd57 img {
        width: 200px;
    }

    .elementor-268 .elementor-element.elementor-element-feffd57>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-4ef95b5>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-df0c1a8 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-d8ccd10>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-3e1dd54 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-5ec5435 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-3e4acdd .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-b88d182 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-cb8e7bb .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-54b7710 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-296e8cc .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-ddf78ca {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-f94f7df .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-5547bce {
        padding: 50px 20px 50px 20px;
    }

    .elementor-268 .elementor-element.elementor-element-8e62fe0 {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-0ea6a3c>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-cf305ae>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-77cc80b img {
        width: 200px;
    }

    .elementor-268 .elementor-element.elementor-element-77cc80b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-g46vjz3 {
        padding: 60px 30px 60px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-572bf51>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-268 .elementor-element.elementor-element-40104efe {
        padding: 64px 24px 64px 24px;
    }

    .elementor-268 .elementor-element.elementor-element-77f304e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-1e816dd {
        text-align: center;
    }

    .elementor-268 .elementor-element.elementor-element-7b782ae .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-268 .elementor-element.elementor-element-375dfec>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-268 .elementor-element.elementor-element-6939626 .elementor-image-box-img {
        margin-bottom: 20px;
    }

    .elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-268 .elementor-element.elementor-element-7efd012 .elementor-image-box-img {
        margin-bottom: 20px;
    }

    .elementor-268 .elementor-element.elementor-element-94e1410>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-268 .elementor-element.elementor-element-758d869 .elementor-image-box-img {
        margin-bottom: 20px;
    }

    .elementor-268 .elementor-element.elementor-element-456e8cf {
        padding: 30px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-74c3acf .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-f034df9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-268 .elementor-element.elementor-element-15d9ddc {
        padding: 30px 30px 30px 30px;
    }

    .elementor-268 .elementor-element.elementor-element-47cd506 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-268 .elementor-element.elementor-element-002f642>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-268 .elementor-element.elementor-element-947c385 {
        width: 75%;
    }

    .elementor-268 .elementor-element.elementor-element-21cf7a7 {
        width: 100%;
    }

    .elementor-268 .elementor-element.elementor-element-bcd92b8 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-4ef95b5 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-8c5b080 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-aa835f2 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-19f7743 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-d8a6a74 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-58cf9fd {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-cf305ae {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-fbed5e8 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-854262a {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-572bf51 {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-a1ea1de {
        width: 100%;
    }

    .elementor-268 .elementor-element.elementor-element-375dfec {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-9d6734f {
        width: 50%;
    }

    .elementor-268 .elementor-element.elementor-element-94e1410 {
        width: 50%;
    }
}

@media(min-width:1025px) {

    .elementor-268 .elementor-element.elementor-element-375dfec:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-268 .elementor-element.elementor-element-375dfec>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-268 .elementor-element.elementor-element-9d6734f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-268 .elementor-element.elementor-element-9d6734f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-268 .elementor-element.elementor-element-94e1410:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-268 .elementor-element.elementor-element-94e1410>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}