.elementor-2384 .elementor-element.elementor-element-5de04745>.elementor-container {
    max-width: 846px;
}

.elementor-2384 .elementor-element.elementor-element-5de04745:not(.elementor-motion-effects-element-type-background),
.elementor-2384 .elementor-element.elementor-element-5de04745>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/pet-dog-sheep-dog-5054023.jpg");
    background-position: bottom center;
    background-size: cover;
}

.elementor-2384 .elementor-element.elementor-element-5de04745>.elementor-background-overlay {
    background-color: #547E9F;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-5de04745 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 100px 0px;
}

.elementor-2384 .elementor-element.elementor-element-1fa9b3ce {
    text-align: center;
}

.elementor-2384 .elementor-element.elementor-element-1fa9b3ce .elementor-heading-title {
    color: var(--e-global-color-astglobalcolor5);
    letter-spacing: 2.5px;
}

.elementor-2384 .elementor-element.elementor-element-d22019e {
    text-align: center;
    color: #FFFFFF;
}

.elementor-2384 .elementor-element.elementor-element-df3a10d .elementor-button:hover,
.elementor-2384 .elementor-element.elementor-element-df3a10d .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-2384 .elementor-element.elementor-element-df3a10d>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-602d2e98 {
    padding: 100px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-2384 .elementor-element.elementor-element-7b4233a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-7b4233a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-7b4233a>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-36a43f7a .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2384 .elementor-element.elementor-element-6266b5ab img {
    width: 100%;
    max-width: 100%;
    height: 433px;
}

.elementor-2384 .elementor-element.elementor-element-3f31e273 {
    padding: 0px 0px 100px 0px;
}

.elementor-2384 .elementor-element.elementor-element-6c8f52c8 img {
    width: 100%;
    max-width: 100%;
}

.elementor-2384 .elementor-element.elementor-element-33df184 {
    font-size: 11px;
}

.elementor-bc-flex-widget .elementor-2384 .elementor-element.elementor-element-46e5a8cc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-46e5a8cc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-46e5a8cc>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-5a29d02f .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2384 .elementor-element.elementor-element-e02781c {
    padding: 100px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-2384 .elementor-element.elementor-element-2ceb8ec.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-2ceb8ec.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2384 .elementor-element.elementor-element-2ceb8ec>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-2ba7edb .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2384 .elementor-element.elementor-element-1d2823b img {
    width: 100%;
    max-width: 100%;
    height: 433px;
}

.elementor-2384 .elementor-element.elementor-element-472d143f>.elementor-container {
    min-height: 320px;
}

.elementor-2384 .elementor-element.elementor-element-472d143f:not(.elementor-motion-effects-element-type-background),
.elementor-2384 .elementor-element.elementor-element-472d143f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/03/fetch-stick-puppy-4957501.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2384 .elementor-element.elementor-element-472d143f>.elementor-background-overlay {
    background-color: #0F3E63EB;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-472d143f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 17px 30px 15px;
}

.elementor-2384 .elementor-element.elementor-element-5ba93af6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 12px;
}

.elementor-2384 .elementor-element.elementor-element-51588736 {
    text-align: center;
}

.elementor-2384 .elementor-element.elementor-element-51588736 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-2384 .elementor-element.elementor-element-76d0f3eb {
    text-align: center;
    color: var(--e-global-color-astglobalcolor4);
}

.elementor-2384 .elementor-element.elementor-element-76d0f3eb>.elementor-widget-container {
    padding: 0px 100px 0px 0100px;
}

.elementor-2384 .elementor-element.elementor-element-718fe0e .elementor-button:hover,
.elementor-2384 .elementor-element.elementor-element-718fe0e .elementor-button:focus {
    border-color: var(--e-global-color-astglobalcolor1);
}

.elementor-2384 .elementor-element.elementor-element-718fe0e>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-7d51a15 {
    padding: 55px 0px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-9402f57 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2384 .elementor-element.elementor-element-9402f57.elementor-view-stacked .elementor-icon {
    background-color: #60AEBD;
}

.elementor-2384 .elementor-element.elementor-element-9402f57.elementor-view-framed .elementor-icon,
.elementor-2384 .elementor-element.elementor-element-9402f57.elementor-view-default .elementor-icon {
    color: #60AEBD;
    border-color: #60AEBD;
}

.elementor-2384 .elementor-element.elementor-element-9402f57.elementor-view-framed .elementor-icon,
.elementor-2384 .elementor-element.elementor-element-9402f57.elementor-view-default .elementor-icon svg {
    fill: #60AEBD;
}

.elementor-2384 .elementor-element.elementor-element-9402f57 .elementor-icon i,
.elementor-2384 .elementor-element.elementor-element-9402f57 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2384 .elementor-element.elementor-element-6d8fcd8>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-2384 .elementor-element.elementor-element-6d8fcd8 {
    padding: 100px 0px 100px 0px;
}

.elementor-2384 .elementor-element.elementor-element-f7de1c7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 42px;
}

.elementor-2384 .elementor-element.elementor-element-f7de1c7>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.5;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-2384 .elementor-element.elementor-element-f7de1c7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 21px 21px 21px 21px;
}

.elementor-2384 .elementor-element.elementor-element-f7de1c7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-df16acb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2384 .elementor-element.elementor-element-df16acb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2384 .elementor-element.elementor-element-df16acb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2384 .elementor-element.elementor-element-df16acb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2384 .elementor-element.elementor-element-df16acb .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-df16acb .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(11px/2);
}

.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(11px/2);
}

.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(11px/2);
    margin-left: calc(11px/2);
}

.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-11px/2);
    margin-left: calc(-11px/2);
}

body.rtl .elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-11px/2);
}

body:not(.rtl) .elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-11px/2);
}

.elementor-2384 .elementor-element.elementor-element-4156b3c {
    --e-icon-list-icon-size: 24px;
}

.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2384 .elementor-element.elementor-element-4156b3c .elementor-icon-list-item>a {
    font-size: 22px;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-title {
    margin-bottom: 2px;
}

.elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-description {
    font-size: 24px;
    font-weight: 500;
}

.elementor-2384 .elementor-element.elementor-element-822b9ab>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.5;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-2384 .elementor-element.elementor-element-822b9ab>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 21px 21px 21px 21px;
}

.elementor-2384 .elementor-element.elementor-element-822b9ab>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2384 .elementor-element.elementor-element-33e7aa4 .uael-price-list-separator {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.elementor-2384 .elementor-element.elementor-element-33e7aa4 .uael-price-list-item:not(:last-child) {
    margin-bottom: 32px;
}

.elementor-2384 .elementor-element.elementor-element-33e7aa4.uael-price-list__link-complete-yes a.uael-price-link-box:not(:last-child) .uael-price-list-item {
    margin-bottom: 32px;
}

.elementor-2384 .elementor-element.elementor-element-33e7aa4 .uael-price-list-description {
    margin: 0px 0px 0px 0px;
}

.elementor-2384 .elementor-element.elementor-element-33e7aa4>.elementor-widget-container {
    padding: 32px 32px 32px 32px;
}

@media(min-width:1025px) {

    .elementor-2384 .elementor-element.elementor-element-5de04745:not(.elementor-motion-effects-element-type-background),
    .elementor-2384 .elementor-element.elementor-element-5de04745>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-2384 .elementor-element.elementor-element-5de04745 {
        padding: 140px 80px 80px 80px;
    }

    .elementor-2384 .elementor-element.elementor-element-1fa9b3ce .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2384 .elementor-element.elementor-element-602d2e98 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-2384 .elementor-element.elementor-element-7b4233a>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-6266b5ab img {
        width: 100%;
    }

    .elementor-2384 .elementor-element.elementor-element-3f31e273 {
        padding: 50px 30px 50px 30px;
    }

    .elementor-2384 .elementor-element.elementor-element-6c8f52c8 img {
        width: 100%;
    }

    .elementor-2384 .elementor-element.elementor-element-46e5a8cc>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }

    .elementor-2384 .elementor-element.elementor-element-e02781c {
        padding: 50px 30px 50px 30px;
    }

    .elementor-2384 .elementor-element.elementor-element-2ceb8ec>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-1d2823b img {
        width: 100%;
    }

    .elementor-2384 .elementor-element.elementor-element-472d143f>.elementor-container {
        min-height: 200px;
    }

    .elementor-2384 .elementor-element.elementor-element-472d143f {
        padding: 80px 40px 80px 40px;
    }

    .elementor-2384 .elementor-element.elementor-element-76d0f3eb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-6d8fcd8 {
        padding: 50px 30px 50px 30px;
    }
}

@media(max-width:767px) {
    .elementor-2384 .elementor-element.elementor-element-1fa9b3ce .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-2384 .elementor-element.elementor-element-7b4233a>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-36a43f7a .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2384 .elementor-element.elementor-element-39ffdd4f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-48511bf9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-46e5a8cc>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-5a29d02f .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2384 .elementor-element.elementor-element-2ceb8ec>.elementor-element-populated {
        margin: 34px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-2ba7edb .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2384 .elementor-element.elementor-element-65f6516>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-472d143f {
        padding: 64px 24px 64px 24px;
    }

    .elementor-2384 .elementor-element.elementor-element-f7de1c7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2384 .elementor-element.elementor-element-df16acb .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2384 .elementor-element.elementor-element-70ef10b .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2384 .elementor-element.elementor-element-822b9ab>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}